uvicorn~=0.30.0
fastapi~=0.115.0
pydantic~=2.10.3
joblib~=1.4.2
numpy~=1.26.4
pydub~=0.25.1
requests~=2.31.0
python-dotenv~=1.0.1
torch==2.7.1
transformers>=4.45,<5
httpx~=0.26.0
fasttext-wheel==0.9.2
pandas~=2.2.3
pymorphy2==0.9.1
scikit-learn==1.7.2
SpeechRecognition~=3.10.4
python-multipart~=0.0.9
python-telegram-bot[socks]==20.8
